
// Font import with cdn
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&display=swap');

@mixin font-style($font-size, $font-weight){
      font-size: $font-size;
      font-weight: $font-weight;
}

*{
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      list-style-type: none;
      text-decoration: none;
}
    
body {
      background: #fff;
      color: #000000 !important;
      font-family: 'Noto Sans', sans-serif !important;
      // font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 14px !important;
      font-weight: normal;
      letter-spacing: 0.12em;
}

//************ global css  ************

// Placeholder color
::placeholder {
      color: rgba(3, 11, 15, 0.4) !important;
}

.heading{
      h3{
            margin-bottom: 20px;
            font-size: 48px;
            font-weight: 700;
      }
      p{
            font-size: 24px;
            margin-bottom: 32px;
      }
}



// custom css
.custom-primary-btn{
      border: 1px solid #000;
      border-radius: 0;
      color: #000;
      font-weight: 700;
      font-size: 16px;
      box-shadow: none;
      outline: none;
      height: 46px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &:hover, &:active, &:focus{
            color: #fff;
            background: #000 !important;
            border-color: #000 !important;
            box-shadow: none !important;
      }
}

header{

      &.custom-sticky{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 9999;
            transition: 0.5s ease-in-out;

            &.fixed-menu{
                  background: rgba(255,255,255,1);
                  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
            }
      }

      nav{
            &.navbar{
                  padding: .688rem 0;
            }
            .navbar-nav{
                  .nav-item{

                        .nav-link{
                              color: #000 !important;
                              font-weight: 500;
                              padding: .5rem 12px !important;

                              
                        }

                        &:last-child{
                              .nav-link{
                                    padding-right: 0 !important;
                              }
                        }
                  }

            }
      }
}

// Carousal css
.carousal-section{
      // padding-top: 72px;
      .carousel-fade  {
            .carousel-item{
                  opacity: 0;
                  transition-duration: 0.8s;
                  transition-property: opacity;

                  > img{
                        // height: calc(100vh - 72px);

                        // @media(min-width: 1440px) and (max-width: 1600px){
                        //       height: 828px !important;
                        // }
                  }

                  .carousel-caption {
                        position: absolute;
                        left: 7.2%;
                        right: auto;
                        text-align: inherit;
                        top: 28%;
                        bottom: inherit;
                  }
            }

            .carousel-item.active,
            .carousel-item-next.carousel-item-left,
            .carousel-item-prev.carousel-item-right {
                  opacity: 1;
            }

            &.active {
                  &.carousel-item-left,
                  &.carousel-item-right{
                        opacity: 0;
                  }
            }

            .carousel-item-next,
            .carousel-item-prev,
            .carousel-item.active,
            .active.carousel-item-left,
            .active.carousel-item-prev {
                  transform: translateX(0);
                  transform: translate3d(0, 0, 0);
           }
      }
}


.hair-style {
      background: #F5F5F5;
      padding: 160px 0 92px;

      .heading{
            h3{
                  .text-style-color{
                        color: #CC1D1D;
                  }
            }
      }

      .right-style-hair{
            .custom-primary-btn{
                  padding: .375rem 40px;
                  height: 56px;
                  font-size: 24px;
            }
      }

}

.dryer-model{
      position: relative;
      
      .custom-dryer{
            
            .dryer-model-common{
                  position: relative;
                  z-index: 9;
                  // transition: 0.3s;
                  overflow: hidden;

                  &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        background: rgba(0,0,0,0);
                        transition: 0.4s ease-in-out;
                        height: 100%;
                        width: 100%;
                  }

                  &:hover{
                        &:before{
                              background: none;
                        }
                        .dryer-img{
                              img{
                                    transform: scale(1.1);
                              }
                        }
                  }

                  &.dryer-model-left-main{
                        background: #C3A9EF;

                        .dryer-img{

                              img{
                                    margin-left: -50px;
                                    width: 416px;
                                    // transform: scaleX(-1);
                                    transition: 0.3s;
                                    // margin-top: 20px;
                              }
                        }

                        &:hover{
                              + .dryer-model-right-main{
                                    &:before {
                                          background: rgba(0,0,0,0.15);
                                    }
                              }
                        }

                        &.active{
                              &:before {
                                    background: rgba(0,0,0,0.15);
                              }
                        }

                  }
                  &.dryer-model-right-main{
                        background: #FFDEC5;
                        padding: 48px 74px;

                        .dryer-img{
                              img{
                                    margin-left: 120px;
                                    width: 416px;
                                    transition: 0.3s;
                              }
                        }
                  }

                  .dryer-model-left-text{
                        font-size: 40px;
                        font-weight: 700;
                        color: #fff;
                  } 
            }
            
      }

      .take-ur-pick {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 999;
            pointer-events: none;
        }

        .take-professional {
            background: rgba(255, 255, 255, 0.4);
            width: 430px;
            padding: 20px 0;

            p{
                  font-size: 24px;
                  font-weight: 700;
                  margin-bottom: 4px;
            }
            h5{
                  font-size: 48px;
                  font-weight: 700;
                  margin-bottom: 0;
            }
        }

        .take-pick-text {
            margin: 24px 0 0;
            font-size: 28px;
            font-weight: 700;
        }
}

.haircare-product{
      .hair-product-text{
            @include font-style(24px, 700);
            color: #D90000;
            margin-bottom: 12px;
      }

      .heading{
            h3{
                  width: 300px;
            }
            p{
                  margin-bottom: 84px;
            }
      }

      .explore-text{
            @include font-style(28px, 600);
            margin-bottom: 12px;
      }

      .redirect{
            width: 368px;
            .down-arrow{
                  height: 48px;
                  width: 48px;
                  border: 1px solid #000;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 50%;
                  margin: 0 auto;
                  color: #000;
                  text-decoration: none;
            }
            span{
                  transform: rotate(90deg);
                  @include font-style(26px, 600);
                  margin: 3px 0 0 4px;
            }
      }
}


.product-list{
      background: #F5F5F5;
      padding-bottom: 62px;

      .card{
            width: 310px;
            border: 0;
            background: #F5F5F5;
            text-align: center;
            margin: 0 auto 42px;
            

            .card-body {
                  width: 280px;
                  margin: 0 auto;
                  padding-bottom: 0;
            }

            img{
                  border-radius: 0;
            }

            .card-title{
                  color: #CC1D1D;
                  @include font-style(24px, 700);
                  border-bottom: 1px solid #000;
                  margin-bottom: 8px;
                  padding-bottom: 8px;
            }
            .card-text{
                  color: #030B0F;
            }
      }
}


footer{
      background: #F5F5F5;
      padding-bottom: 48px;
      position: relative;

      &:after{
            content: "";
            position: absolute;
            width: calc(100% - 30px);
            height: 1px;
            background: #C4C4C4;
            left: 15px;
      }

      .contact-us {
            @include font-style(28px, 700);
            margin-bottom: 40px;
      }

      .footer-inner{
            padding-bottom: 56px;
      }
     
      .footer-left{
            
            .footer-left-inner{
                  .call-us {
                        color: #030B0F;
                        @include font-style(24px, 500);
                        margin-bottom: 20px;
                  }
            }

            .email-main{
                  margin-bottom: 40px;

                  .email-text{
                        color: #030B0F;
                        font-weight: 300;
                        letter-spacing: 0.06em;
                        
                        &:not(:last-child){
                              margin-bottom: 8px;
                        }
                  }
            }
      }

      .boxes{
            margin-top: 94px;
            display: flex;

            .social-box{
                  height: 48px;
                  width: 48px;
                  background: #C4C4C4;
                  &:not(:last-child){
                        margin-right: 38px;
                  }
            }
      }
}

.leave-message-main{
      border-left: 2px solid rgba(0,0,0,0.3);
      padding-left: 26px;

      .leave-message{
            @include font-style(24px, 500);
            color: #030B0F;
            margin-bottom: 28px;
      }
      form{
            .form-group{
                  margin-bottom: 24px;

                  label{
                        font-size: 18px;
                        letter-spacing: 0.06em;
                        margin-bottom: 2px;
                  }   

                  input, textarea{
                        border-radius: 0;
                        letter-spacing: 0.06em;
                        @include font-style(14px, 300);
                        resize: none;
                        background: rgba(248, 248, 248, 0.84);
                        border: 1px solid rgba(0, 0, 0, 0.4);

                        &:focus{
                              border-color: #0052cc;
                              box-shadow: 0 0 0 0.2rem rgba(87, 100, 198, 0.15);
                        }
                  }
                  textarea{
                        height: 106px;
                  }

                  .custom-primary-btn{
                        margin-top: 8px;
                        height: 46px;
                        width: 148px;
                  }
            }
      }
}

